@font-face {
    font-family: globalFont;
    src: url(OpenSans-Regular.ttf);
}

.navbarentry {
    font-size:25px;
}

.normalheading {
    font-size: 22px;
    font-weight: bold;
}

.normaltext {
    font-size: 25px;
}

.workheading {
    font-size: 25px;
    font-weight: bold;
}

.worktitle{
    font-size: 23px;
    color:#333333
}

.worktag{
    font-size: 18px;
    color:#006688;
    font-weight:bold;
}

.workdetails{
    font-size: 22px;
    color:#666666
}

.worktext {
    font-size: 19px;
}

.footer{
    font-size: 15px;
}

.global {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-family: globalFont;
    line-height: 30px;
}

.a{
    color: #006688
}

img{
    width:50%
}